<toaster-container toaster-options="{'time-out': 2000}"></toaster-container>
<div style="font-family: 'GE Inspira Sans';">


    <div id="spinner" ng-show="loading">
        <img src="images/loadCar.gif" alt="Loading">
    </div>
    <div class="col-sm-4 col-sm-offset-4" ng-hide="loading" style="margin-top: 10%">
        <div class="">
            <form ng-submit="changeClick(SSO,pass,cpass)" name="regForm">
                <div class="form-group">
                    <input type="text" class="form-control text4" placeholder="SSO ID" ng-model="SSO" disabled numbers-only="" minlength="9" maxlength="9">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control text4" name="pass" placeholder="New Password" ng-model="pass" maxlength="6" required>
                    <span ng-show="regForm.pass.$error.required">Maximum 6 digits</span>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control text4" placeholder="Confirm Password" ng-model="cpass" maxlength="6" required>
                </div>

                <input class="btnB" type="submit" value="Change Password">
            </form>
            <label>Note:</label>
            <p>Please do not use SSO password for CAB Booking portal.</p>
            <p></p>
            <p><a href="#!home">Back</a></p>
        </div>
    </div>
    <div class="col-md-12" ng-hide="loading" style="margin-top: 50px;">

        

    </div>
</div>